body{
    background-color: chocolate;
}
.Azul{
    color: blue;
}
.Vermelho{
    color: red;
}
.Preto{
    color: black;
}
.Amarelo{
    color: yellow;
}
.Roxo{
    color: purple;
}
.fontpar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
fontpar2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
}
.corFundo{
    background-color: rgb(250, 0, 0);
}