body {
    color: rgb(132, 0, 255);
    background-color: rgb(112, 212, 30);
}
h1 , h2 {
    color: rgb(10, 67, 255);
}
p {
    color: #ff0000;
}
h1,h2 {
    font-family: Georgia, "Times New Roman", serif;
}
footer {
    font-family: 'Courier New', Courier, monospace;}